body{
  background-color: white;
}

.wrapper{
  width: 1200px;
  margin:  auto;
  background-color: #fff;
}

.header{
  height: 300px;
  background-size: cover;
  background-image:url(../background.jpg);
  padding:80px;
}

h1 {
  color: white;
  text-align: center;
  font-size:2cm;
}

p {
  color: white;
  text-align:center;
  font-size: 0.5cm;
  position:relative;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0.6em;
  color: #000000;
  font-size: 1rem;
  margin: 31px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #000000 inset;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.price {
  color: rgb(110, 99, 99);
  font-size: 22px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card4 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card5 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card6 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card7 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card8 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card9 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card10 button {
  border: none;
  outline: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 1;
}

.desc{
  color: black;
  font-size: 20px;
} 

.card1{
  position: absolute;
  left: 350px;
}

.card2{
  position: absolute;
  right: 350px;
  top: 665px;
  width: 450px;
}

.card3{
  position: absolute;
  left: 350px;
  top: 1550px;
}

.card4{
  position: absolute;
  right: 350px;
  top: 1550px;
  width: 450px;
}

.card5{
  position: absolute;
  left: 350px;
  top: 2440px;
}

.card6{
  position: absolute;
  right: 350px;
  top: 2440px;
  width: 450px;
}

.card7{
  position: absolute;
  left: 350px;
  top:3330px;
}

.card8{
  position: absolute;
  right: 350px;
  top: 3330px;
  width: 450px;
}

.card9{
  position: absolute;
  left: 350px;
  top:4220px;
}

.card10{
  position: absolute;
  right: 350px;
  top: 4220px;
  width: 450px;
}